.store{
    width: 81%;
    padding: 20px 28px;
    background-color: #18191a;
    min-height: 100vh;
}
.store h3{
    color: #e4e6eb;
    margin-bottom: 18px;
    font-weight: 900;
}
.store .spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store .skeleton{
    background-color: rgba(200, 200, 200, 0.11) !important
}
.store .empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}
.store .headEmpty{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.btn{
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #263951;
    color: #2d88ff;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: #3a516e;
}
.store .products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.store .product {
    height: 25rem;
    cursor: pointer;
    width: 19rem;
    margin-right: 8px;
}
.store .product img{
    width: 100%;
    height: 78%;
    border-radius: 10px;
    object-fit: cover;
}
.store .product .price{
    color: white;
}
.store .product .title,
.store .product .location{
    color: white;
    font-weight: initial;
}
.store .product .location{
    direction: rtl;
}

@media only screen and (max-width:1330px) {
    .store .products {
        justify-content: space-between;
    }
    .store .product{
        width: 18rem;
    }
}
@media only screen and (max-width:1280px) {
    .store .product{
        height: 22rem;
        cursor: pointer;
        width: 48%;
    }
}
@media only screen and (max-width: 960px) {

    .store .product{
        height: 20rem;
        cursor: pointer;
        width: 48%;
    }
}
@media only screen and (max-width: 900px) {
    .store {
        width: 100%;
    }
    .store .product{
        height: 20rem;
        cursor: pointer;
        width: 32%;
    }
}
@media only screen and (max-width: 750px) {
    .store .product{
        height: 23rem;
        cursor: pointer;
        width: 48%;
    }
}
@media only screen and (max-width: 550px) {
    .store .product{
        height: 18rem;
        cursor: pointer;
        width: 48%;
    }
}
@media only screen and (max-width: 460px) {
    .store .product{
        height: 18rem;
        cursor: pointer;
        width: 100%;
    }
}